// Colors and font sizes
@import './app/assets/styl/variables.styl'

// Resets browser defaults
@import './app/assets/styl/standards/standardize.styl'

// Theme base
@import './app/assets/styl/global.styl'

// Component styling files
@import './app/assets/styl/home/home.styl'

@import './app/assets/styl/widgets/sidebar.styl'
@import './app/assets/styl/widgets/social_bar.styl'
@import './app/assets/styl/widgets/header.styl'
@import './app/assets/styl/widgets/footer.styl'

@import './app/assets/styl/art/art_index.styl'
@import './app/assets/styl/art/art_show.styl'

@media (max-width: 1024px) {
  @import './app/assets/styl/mobile/home.styl';
}
