.portfolio-site {
  display: grid;
  grid-template-columns:
    [col1] 2fr [col2] 140px [col3] 3fr
    [col4] 1fr [col5] 1fr
    [col6] 3fr [col7] 140px [col8] 2fr [col-end];
  grid-template-rows:
    [row1] 45px
    [row2] 30px
    [row3] 1.5fr
    [row4] 2fr
    [row5] 120px
    [row-end];
  height: 100vh;
}

.navigation {
  color: #565a6d;
  background-color: #ffeb3b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--product-name-font);
  grid-row: row2;
  grid-column-start: col1;
  grid-column-end: row-end;
}

.painting-left {
  grid-row-start: row1;
  grid-row-end: row-end;
  grid-column: col1;
  filter: grayscale(100%);
  overflow: hidden;
  z-index: -1;
}

.painting-right {
  grid-row-start: row1;
  grid-row-end: row-end;
  grid-column: col8;
  filter: grayscale(100%);
  overflow: hidden;
  transform: scaleX(-1);
  z-index: -1;
}
