header {
  display: flex;
  align-items: center;
  grid-column-start: col2;
  grid-column-end: row-end;
  grid-row-start: row1;
  grid-row-end: row3;
  padding: 0 60px;
}

.name {
  align-items: center;
  color: #565a6d;
  font-family: var(--product-name-font);
  font-size: var(--type-medium);
  letter-spacing: var(--sans-serif-letterspacing);
  text-align: center;
}
