.footer {
  position: fixed
  bottom: 50px

  .city {
    font-size: 1em;
    color: $darkest-grey
    letter-spacing: 0.065em
    font-family: 'Montserrat', sans-serif
    text-align: left
    display: inline-block
    padding-right: 20px
  }

  .email {
    display: inline-block
    font-family: 'Source Code Pro', monospace;
  }
}
