.footer {
  position: fixed
  bottom: 23px
  left: 32px
  font-size: 1em

  .city {
    font-size: 0.9em;
    color: $darkest-grey
    letter-spacing: 0.065em
    font-family: 'Roboto', sans-serif;
    text-align: left
    display: inline-block
    padding-right: 8px
    animation: fadein 2s
  }

  .email {
    display: inline-block
    font-family: 'Roboto', sans-serif
    color: #f9eec9
  }
}
