.footer {
  position: fixed
  bottom: 12px
  left: 32px
  font-size: 1em

  .email {
    display: inline-block
    font-family: 'Open Sans', sans-serif
    letter-spacing: 2px
    line-height: 2.1
    color: $darkest-grey
  }
}
