.header {
  width: 100%
  margin: 20px 0

  .name {
    font-size: 1em
    left: 30px
    letter-spacing: 1px
    position: absolute

    a {
      font-family: $san-serif
      text-decoration: none
      color: $darkest-grey
    }
  }

  .nav-items {
    width: 50vw
    margin: 0 auto

    .section {
      display: inline-block
      font-family: $san-serif
      font-size: 1.02em
      letter-spacing: 2px
      padding-right: 40px
      a {
        color: $darkest-grey
        &.selected {
          color: $pink
          style: underline
        }
      }
    }


  }
}
