.header {
  width: 100%
  padding: 20px 0 35px

  .name {
    font-size: 1em
    left: 30px
    letter-spacing: 1px
    position: absolute

    a {
      font-family: $san-serif
      text-decoration: none
      color: $darkest-grey
    }
  }

  .nav-items {
    float: right
    padding-right: 90px
    .section {
      display: inline-block
      font-family: $san-serif
      font-size: 1em
      letter-spacing: 2px
      padding-left: 40px

      a {
        color: $darkest-grey

        &.selected {
          color: $pink
          style: underline
        }
      }
    }


  }
}
