.header {
  padding: 20px 0 35px
  width: 100%

  .name {
    font-size: $type-small
    left: 90px
    letter-spacing: $serif-letterspacing
    position: absolute

    a {
      color: $darkest-grey
      font-family: $sans-serif
      text-decoration: none

      &:hover {
        color: $secondary-color-0
      }
    }
  }

  .nav-items {
    float: right
    padding-right: $main-content-margin-right

    .section {
      color: $darkest-grey
      display: inline-block
      font-family: $serif
      font-size: $type-small
      letter-spacing: $serif-letterspacing
      padding-left: 40px

      a {
        color: $darkest-grey

        &:hover {
          color: $primary-color-0
        }

        &.selected {
          color: $primary-color-1
        }
      }
    }
  }
}
