.nav {
  width: 100%
}

.header {
  position: fixed
  width: 100%
  height: 10%
  left: 10px
  padding-top: 12px;

  .name {
    font-size: 1em;
    color: $darkest-grey
    letter-spacing: 0.065em
    font-family: 'Montserrat', sans-serif
    padding-left: 40px
    text-align: left
    a {
      text-decoration: none
      color: $darkest-grey
    }
  }
}

.section {
  position: fixed
  right: 53px
  top: 29px
  font-family: 'Montserrat', sans-serif
  font-size: 0.9em
  a {
    text-decoration: none
    color: $darkest-grey
  }
  &.art{
    right: 186px
  }
}
