.sidebar {
  margin-top: $main-content-margin-top
  margin-left: $margin-left
  width: 200px
  position: fixed

  .filter-option {
    font-family: $serif
    color: $med-grey
    letter-spacing: $serif-letterspacing
    margin-bottom: 8px

    &:hover {
      color: #9977bd
      box-shadow: 3px 3px $primary-color-0
    }
  }
}
