.sidebar {
  margin-top: 60vh
  margin-left: 30px
  width: 200px
  position: fixed

  .filter-option {
    font-family: $serif
    color: $med-grey
    letter-spacing: 1px
    margin-bottom: 8px

    &:hover {
      color: #9977bd
      box-shadow: 3px 3px $pink
    }
  }
}
