.sidebar {
  background-color: $light-grey
  height: 100%
  padding-right: $medium-space
  padding-top: $main-content-margin-top
  padding-left: $margin-left
  width: $sidebar-width
  position: fixed

  .filter-option {
    font-family: $serif
    color: $med-grey
    letter-spacing: $serif-letterspacing
    margin-bottom: 8px

    &:hover {
      color: #9977bd
      box-shadow: 3px 3px $primary-color-0
    }
  }
}
