.social-wrapper {
  position: fixed
  right: 49px
  bottom: 90px
  display: flex
  flex-direction: column
  align-items: flex-end

  .social-icon {
    height: 1.3em
    width: 1.3em
    margin-bottom: 10px
    fill: $darkest-grey
  }
}
