// font-family: 'Prata', serif;
// font-family: 'VT323', monospace;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Code Pro', monospace;

h1, h2, h3, h4, h5, h6 {
  font-family: 'VT323', monospace;
}
h3 {
  font-size: 1.3em
  margin-bottom: 10px
}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8em;
  line-height: 1.5;
}

.portfolio-site {
  background-color: #f7f7f7
  margin: 0 20px
}

main{
  padding: 0 30px
}

.right{
  padding-right: 20px
  height: 100%
  float: right
}

footer {
  position: fixed
  background-color: white
  height: 4vh
  width: 100%
  bottom: 0
}
