// font-family: 'Prata', serif;
// font-family: 'VT323', monospace;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Code Pro', monospace;

.portfolio-site {
  background-color: #f7f7f7
  height: 100vh
  margin: 0 20px
}

main{
  padding: 0 30px
}

.right{
  padding-right: 20px
  height: 100%
  float: right
}

footer {
  position: fixed
  background-color: white
  height: 4vh
  width: 100%
  bottom: 0
}
