// font-family: 'Prata', serif;
// font-family: 'VT323', monospace;
// font-family: 'Montserrat', sans-serif;

body {
  background-color: white;
}
main {
  background-color: #f2f3f5;
  height: 100vh
  width: 95vw
  margin: 0 auto
}
.header {
  background-color: #f7f7f7
  height: 66vh
  margin: 0 auto
}
.arrow {
  color: #e88092;
}
.name {
  padding-top: 115px;
  margin-left: 97px
  font-size: 1em;
  color: #3e4142;

  letter-spacing: 0.065em;
  font-family: 'Montserrat', sans-serif;
}

.purpose {
  font-size: 3.6em
  color: #84cadc
  margin-left: 23px
  margin-bottom: 50px
  font-family: 'VT323', monospace
}

.short-bio {
  margin-top: 7vh
  font-size: 0.9em
  color: #3e4142;
  line-height: 1.8
  margin-left: 97px
  width: 420px
  font-family: 'Montserrat', sans-serif;
}
