// font-family: 'Prata', serif;
// font-family: 'VT323', monospace;
// font-family: 'Montserrat', sans-serif;

.portfolio-site {
  position: absolute;
  background-color: #f7f7f7
  height: 100vh
  width: 95vw
  left: 2.5vw
  z-index: -4
}

.nav {
  width: 100%
  display: flex
  flex-direction: row
  justify-content: flex-start
}

.header {
  position: fixed
  width: 100%
  height: 66%
  left: 10px
  padding-top: 25px;

  .name {
    font-size: 1em;
    color: $darkest-grey;
    letter-spacing: 0.065em;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px
    text-align: left
  }

  .ellipsis {
    width: 30px
    display: flex
    flex-direction: row
    justify-content: space-around

    .dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }
}
.portfolio-img {
  position: relative
  overflow: hidden
  height: 100%
}

.sub-header {
  display: flex
  flex-direction: row
  height: 70%
  align-items: flex-end

  .split-screen {
    width: 50%
    padding-left: 35px
    height: 150%


    &:first-child {
      padding-left: 22vw
      background: none
    }
  }

  .purpose {
    position: relative
    font-size: 10vw
    line-height: 0.78
    color: $darkest-grey
    width: 100%
    border-bottom: 9px solid $darkest-grey
    margin-bottom: 34px

    padding-bottom: 12px
    text-align: right
    font-family: 'VT323', monospace
  }

  .short-bio {
    position: relative
    font-size: 2vw
    color: #3e4142;
    line-height: 1.8
    font-family: 'Montserrat', sans-serif;
    @media (min-width: 800px) {
      font-size: 1em
    }
  }
}

.eye {
  position: absolute;
  width: 40vw;
  height: 40vw;
  background: rgba(251, 222, 222, 0.27);
  border-radius: 50%;
  top: -25vh;
  left: 4vw;
  z-index: -10
  filter: blur(1px);
  &.right {
    left: 53vw;
  }
  &.middle {
    top: 20vh
    background: rgba(251, 251, 222, 0.27)
    &.left {
      background: rgba(222, 251, 235, 0.27)
    }
  }
  &.bottom {
    top: 65vh
    background: rgba(222, 231, 251, 0.27)
  }
}

footer {
  position: fixed
  background-color: white
  height: 2.5vw
  width: 100%
  bottom: 0
}
