// CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
// OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
// LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
// OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
// RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR

$transparent-white = rgba(255, 255, 255, 0.40)

$light-grey = #f9f9f9
$light-med-grey = #b3bbc7
$med-grey = #b3bbc7
$darkest-grey = #616a77
$black = #444343;

$blue = #96c4f7


$primary-color-0 = $blue
$primary-color-1 = darken($primary-color-0, 10%)

$secondary-color-0 = $blue
$secondary-color-1 = darken($secondary-color-0, 10%)

// TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
// YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
// PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
// EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE

$serif = 'VT323', monospace
$sans-serif = 'Open Sans', sans-serif

$serif-letterspacing = 1px
$sans-serif-letterspacing = 2px

$type-xx-small = 0.9em
$type-x-small = 1em
$type-small = 1.25em
$type-medium = 1.5em
$type-large = 2em
$type-x-large = 3em
$type-xx-large = 4.3em

// SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
// PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
// AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
// CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
// EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE

$tiny-space = 5px
$small-space = 25px
$medium-space = 30px
$large-space = 50px
$xlarge-space = 90px

$margin-left = $medium-space
$margin-right = $medium-space

$main-content-width = 50%
$main-content-margin-right = $medium-space
$main-content-margin-top = $small-space

$sidebar-width = 30%
