.section-heading {
  font-size: var(--type-large);
  margin-bottom: 30px;
}

.project-heading {
  font-family: var(--product-name-font);
  font-size: var(--type-small);
  margin-bottom: 40px;
}

.project-image {
  height: 500px;
}

.project-body {
  display: flex;
  flex-direction: row;
  background-color: #a5aab5;
  padding: 20px;
}

.project-sub-section {
  font-size: var(--type-xx-small);
  font-weight: 600;
}

.detail {
  margin-bottom: 20px;
}
