.sectionHeading {
  font-size: var(--type-large);
  margin-bottom: 30px;
}

.projectHeading {
  font-family: var(--product-name-font);
  font-size: var(--type-small);
  margin-bottom: 40px;
}

.projectImage {
  height: 500px;
}

.projectBody {
  display: flex;
  flex-direction: row;
  background-color: #a5aab5;
  padding: 20px;
}

.projectSubSection {
  font-size: var(--type-xx-small);
  font-weight: 600;
}

.detail {
  margin-bottom: 20px;
}
