@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");

body {
  background: var(--container-border);
  color: var(--text-light);
  font-family: var(--body-font);
}

a {
  color: var(--text-dark);
}

.home {
  background: var(--panel-background-color);
  height: 100vh;
  padding: calc(2 * var(--grid-base)) calc(4 * var(--grid-base));
}

.home-row {
  display: flex;
  justify-content: space-between;
}

.statement-panel {
  width: 45%;
}

.name {
  color: #565a6d;
  font-family: var(--product-name-font);
  font-size: 3em;
}

.heading {
  color: var(--cream);
  margin-top: calc(5 * var(--grid-base));
  margin-bottom: calc(2 * var(--grid-base));
  padding-top: calc(0.5 * var(--grid-base));
}

.bio {
  border-left: 1px solid var(--container-border);
  line-height: 1.5;
  padding-left: calc(2 * var(--grid-base));
  margin-bottom: calc(2.5 * var(--grid-base));
}

.comment {
  color: var(--text-light);
  font-family: var(--body-font);
  font-size: 14px;
  margin-left: calc(2 * var(--grid-base));
}
