.bio {
  display: flex;
  flex-direction: row;
}

.bio .front-image {
  height: 10vw;
  width: auto;
}

.bio .opening-summary {
  color: var(--darkest-grey);
  font-family: var(--serif);
  font-size: var(--type-medium);
  text-align: center;
  line-height: 1.5;
  margin-top: 50px;
}

.bio .heads {
  margin: 50px -20px 0 -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bio .classification {
  background-color: var(--main-gray);
  color: var(--light-grey);
  font-family: var(--sans-serif);
  font-size: var(--type-xx-large);
  padding: 40px;
}

.bio .profession {
  font-weight: 600;
  line-height: 1.2;
}
