@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif&display=swap');

body {
  font-family: var(--body-font);
}

a {
  color: var(--text-dark);
}

.name {
  align-items: center;
  color: #565a6d;
  display: flex;
  font-family: var(--product-name-font);
  font-size: var(--type-medium);;
  grid-column-end: col8;
  grid-column-start: col2;
  grid-row: row1;
  letter-spacing: var(--sans-serif-letterspacing);
  justify-content: center;
  text-align: center;
}

.heading {
  font-family: var(--product-name-font);
  padding-bottom: calc(1.5 * var(--grid-base));
}

.social-links {
  display: flex;
  justify-content: space-between;
  max-width: 650px;
  width: 100%;
  padding-bottom: 50px;
}

.background {
  margin-bottom: 120px;
  max-width: 600px;
  text-align: center;
}

.home {
  display: grid;
  grid-template-columns:
    [col1] 2fr [col2] 140px [col3] 3fr
    [col4] 1fr [col5] 1fr
    [col6] 3fr [col7] 140px [col8] 2fr [col-end];
  grid-template-rows:
    [row1] 80px
    [row5] 1.5fr
    [row9] 2fr
    [row-end];
  height: 100vh;
}

.painting-left {
  grid-row-start: row1;
  grid-row-end: row-end;
  grid-column: col1;
  filter: grayscale(100%);
  overflow: hidden;
}

.painting-right {
  grid-row-start: row1;
  grid-row-end: row-end;
  grid-column: col8;
  filter: grayscale(100%);
  overflow: hidden;
  transform: scaleX(-1);
}

.full-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  padding: 30px 45px 50px;
}

.focus-heading {
  font-family: var(--product-name-font);
  font-size: var(--type-x-large);
  line-height: 1.2;
  margin-bottom: 20px;
}

.focus-panel{
  grid-row: row5;
  background-color: #f1f8b4c9;
  grid-column-start: col1;
  grid-column-end: col9;
  z-index: 2;
}

.background-panel {
  grid-row-start: row9;
  grid-column-start: col2;
  grid-column-end: col8;
}

.motivation {
  max-width: 650px;
  text-align: center;
  margin-bottom: 40px;
}
