.motivation {
  display: grid;
  grid-template-columns: [col1] 2fr [col2] 3fr [end];
  grid-template-rows: [row1] 1fr [row2] 100px [row3] 2fr;
  height: 100%;
}

.focusHeading {
  grid-column: col1;
  grid-row-start: row1;
  font-size: var(--type-x-large);
  margin-bottom: 40px;
}

.venn {
  grid-column-start: col1;
  grid-column-end: end;
  grid-row-start: row1;
  grid-row-end: end;
  display: grid;
  grid-template-columns: [col0] 1fr [col1] 1fr [col3] 220px [col5] 1fr [end];
  grid-template-rows: [row1] 1fr;
  align-items: flex-end;
}

.venn:nth-of-type(1) {
  position: relative;
  left: 50px;
}
.venn:nth-of-type(2) {
  position: relative;
  left: 100px;
}
.venn:nth-of-type(3) {
  position: relative;
  left: 150px;
}

.summary {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row3;
  margin-right: 40px;
}

.circleA {
  filter: blur(2px);
  grid-row: row1;
  grid-column-start: col1;
  grid-column-end: col5;
  height: 100%;
  width: 65%;
  border-radius: 50%;
  border: 5px solid rgba(3, 169, 244, 0.16);
  position: relative;
  left: 10px;
}

.circleA:nth-of-type(1) {
  position: relative;
  left: 10px;
}

.circleA:nth-of-type(2) {
  position: relative;
  left: 20px;
}

.circleA:nth-of-type(3) {
  position: relative;
  left: 30px;
}

.circleA:nth-of-type(4) {
  position: relative;
  left: 40px;
}

.circleA:nth-of-type(5) {
  position: relative;
  left: 50px;
}

.circleA:nth-of-type(6) {
  position: relative;
  left: 60px;
}

.circleB {
  filter: blur(2px);
  grid-row: row1;
  grid-column-start: col0;
  grid-column-end: col3;
  height: 100%;
  width: 60%;
  border-radius: 50%;
  border: 5px solid rgba(3, 169, 244, 0.16);
}

.circleC {
  filter: blur(2px);
  grid-row: row1;
  grid-column-start: col0;
  grid-column-end: col3;
  height: 100%;
  width: 60%;
  border-radius: 50%;
  border: 5px solid rgba(3, 169, 244, 0.16);
}
