.focusHeading {
  grid-column: col1;
  font-size: var(--type-x-large);
  margin-bottom: 40px;
}

.motivation {
  display: grid;
  grid-template-columns: [col1] 2fr [col2] 2fr [col3] 1fr [end];
  grid-template-rows: [row1] 1fr [row2] 100px [row3] 2fr;
  height: 100%;
}

.venn {
  grid-column-start: col2;
  grid-column-end: end;
  grid-row-start: row1;
  grid-row-end: end;
  display: grid;
  grid-template-columns: [col1] 1fr [col3] 120px [col5] 1fr [end];
  grid-template-rows: [row1] 1fr;
}

.spinFaster {
  animation: spin 25s linear infinite;
}

.summary {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row3;
  margin-right: 40px;
}

.circleA {
  filter: blur(1px);
  grid-column-start: col1;
  grid-column-end: col5;
  grid-row: row1;
  height: 80%;
  border-radius: 50%;
  background-color: rgba(241, 20, 56, 0.57);
}

.circleB {
  filter: blur(2px);
  grid-row: row1;
  grid-column-start: col3;
  grid-column-end: end;
  height: 80%;
  border-radius: 50%;
  background-color: rgba(3, 169, 244, 0.66);
}
