.bio {
  .front-image {
    height: 10vw
    width: auto
  }

  .opening-summary {
    color: $darkest-grey
    font-family: $serif
    font-size: $type-medium
    text-align: center;
    line-height: 1.5
    margin-top: 50px;
  }

  .heads {
    margin: 50px -20px 0 -20px
    display: flex
    flex-direction: row
    justify-content: space-between
  }

  .title {
    color: $light-grey
    font-size: $type-xx-large
    font-family: $sans-serif
    background-color: #2f2f2f
    padding: 40px
    margin-top: 50px
  }

  .profession {


    font-weight: 600
    line-height: 1.2
    text-align: center

    .darken {
      color: $primary-color-1
    }
  }

  .company {
    font-style: italic
  }
}
