.art-index {
  float: right;

  .gallery {
    padding: $main-content-margin-top 82px 100px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-content: flex-start

    .image-wrapper {
      background-color: $transparent-white
      height: 110px
      width: 210px
      margin: 10px 5px
      box-shadow: inset 0px 0px 10px rgba(0,0,0,0.28)

      &:hover {
        background-color: rgba(212, 212, 232, 0.31)
      }
    }

    .portfolio-image {
      color: $primary-color-0
      margin: 5px
      background-color: $light-grey
    }
  }
}
