.art-index {
  float: right;

  .gallery {
    padding: $main-content-margin-top $main-content-margin-right 100px $margin-left
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-content: flex-start

    .portfolio-image {
      padding: 5px
      margin: 5px
      box-shadow: 3px 3px rgba(189, 209, 255, 0.31)
      background-color: $light-grey
      &:hover {
        transition: box-shadow 2s
        box-shadow: 3px 3px rgba(120, 132, 158, 0.31)
      }
    }
  }
}
