.footer {
  /* background-color: var(--light-grey); */
  bottom: 0;
  font-size: var(--type-x-small);
  height: 1.25em;
  padding: 20px 0px;
  position: fixed;
  text-align: center;
  width: 100vw;
}

.email {
  color: var(--darkest-grey);
  font-family: var(--product-name-font);
  letter-spacing: var(--sans-serif-letterspacing);
}

.email:hover {
  color: var(--secondary-color-0);
}
