.social-wrapper {
  position: fixed;
  right: var(--margin-right);
  bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-wrapper .social-icon {
  height: 1.3em;
  width: 1.3em;
  margin-bottom: 10px;
  fill: var(--darkest-grey);
}

.social-wrapper .social-icon:hover {
  fill: var(--secondary-color-0);
}
