
.production-details {
  border-top: 1px solid var(--light-med-grey);
  padding-top: var(--tiny-space);
  margin-top: var(--xlarge-space);
  font-family: var(--sans-serif);
}

.stat {
  float: right;
  font-size: var(--type-xx-small);
}

.large-image {
  float: right;
  max-width: 100%;
  max-height: 80vh;
}
